<li class="step-li pl-12 relative">
  <span class="step-num absolute left-0 top-0 flex items-center justify-center size-8 rounded-full bg-accent text-accent-foreground text-sm font-bold"></span>
  <div class="text-sm">
    <slot />
  </div>
</li>
